<%- include('./partials/head', { title:'Blog', hojaCss:'styles-profile'}) %>
<%- include('./partials/header') %>
<main>
        <section class="name-picture">
            <h2>Hola <%= user.name %>!</h2>
            <img src="/img/userImg/<%= user.Image %>  ">
        </section>
        <div class="style-bar1"></div>
        <section class="main-info">
            <h3>Email: <%= user.email %> </h3>
            <h3>tel: <%= user.tel %></h3>
            <a href="/compras" class="button-link">
                <button><i class="fas fa-shopping-bag"></i></button>
            </a>
        </section>
</main>

<%- include('./partials/footer') %> 
    <script src="../js/prueba.js"></script>
</body>
</html>