<%- include('./partials/head', { title:'Blog', hojaCss:'styles-profile'}) %>
<%- include('./partials/header') %>
<main>
    
<div class="container" style="margin-top: 40px;">
        <div>
            <h2>Hola <%= user.name %> </h2>
        </div>
  
        <div class="profile-photo">

         
            <img src="/img/userImg/<%= user.Image %>  ">
            <br>
            <br>
         
        </div>
        <div>
            <h3>Email : <%= user.email %> </h3>
        </div>
   
</div>
</main>

<%- include('./partials/footer') %> 
    <script src="../js/prueba.js"></script>
</body>
</html>